<html>
  <head>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-axistitle@0.0.4/dist/chartist-plugin-axistitle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chartist/0.11.0/chartist.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/css/style.css"/>

  </head>
  <body>
    <script>
      window.dataType = '{{ data_type }}'
      window.labelType = '{{ label_type }}'
    </script>
    <div id="done-page" style="display: none">
      <div class="container center">
        <h2>You're Done!</h2>
        <img
          height="450"
          width="450"
          class="img-responsive"
          src="https://lh5.googleusercontent.com/-PwNDoqWC9iE/AAAAAAAAAAI/AAAAAAAAnZE/oadUfB5_G1A/photo.jpg" />
      </div>
    </div>
    <div id="wrap">
      <!--
      <div class="row">
        <div class="col-md-3">
          <a class="btn btn-primary" id="show-history">
            Show Training History
          </a>
        </div>
        <div class="col-md-3">
          <div class="ct-chart ct-perfect-fourth" data-x-axis="X axis label" data-y-axis="Y axis label"></div>
        </div>
      </div>
      -->

      <nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-expand-md">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><i style="font-size: 1.5em;" class="far fa-lightbulb"></i></a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link">Labelled: <b id="labelled-counts-text"></b></a>
            <a class="nav-item nav-link">Accuracy: <b id="accuracy-text"></b></a>
          </div>
        </div>
      </nav>


      <div id="text-classification" style="display:none;">
        <h2 class="center">
          {{ title|safe }}
        </h2>
        <div class="center">
          {{ description|safe }}
        </div>
        <div class="center">
          <div id="text-classification-text">
          </div>
        </div>
      </div>

      <div id="image-classification" style="display:none;">
        <h2 class="center">
          {{ title|safe }}
        </h2>
        <div class="center">
          <img id="item-image" class="img-responsive" src="/" />
        </div>
      </div>
    </div>

    <div id="footer">
      <div id="control-panel">
        <div>
          Suggestion: <span id="suggestion"></span>
        </div>

        {% if label_type == 'sequence' %}
        <div>
          {% for token in label_helper.valid_tokens %}
          <div class="token center" data-token="{{ token }}">{{ token }}</div>
          {% endfor %}
          <div class="clear"></div>
        </div>
       {% endif %}
      </div>

      <div style="display:flex;">
        {% if label_type == 'binary' %}
        <div style="flex-grow:1;">
          <h3 style="background: #27ae60;" data-judgement="YES" class="judgement-button center">
              Yes ( j )
          </h3>
        </div>
        <div style="flex-grow:1;">
          <h3 style="background: #e74c3c;" data-judgement="NO" class="judgement-button center">
              No ( k )
          </h3>
        </div>
        {% endif %}

        {% if label_type == 'classification' %}
          {% for cls in label_helper.classes %}
            <div style="flex-grow:1;">
              <h3 style="background: {{ classification_colors[loop.index0] }};" data-judgement="{{loop.index0}}" class="judgement-button center">
                {{ cls }}
              </h3>
            </div>
          {% endfor %}
        {% endif %}

        {% if label_type == 'sequence' %}
        <div style="flex-grow:1;" class="sequence-input">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text">{{ title }}</span>
            </div>
            <input
              autofocus
              type="text"
              class="form-control"
              placeholder="label">
          </div>
        </div>
        {% endif %}
      </div>
    </div>
    <script src="/static/js/index.js"></script>
  </body>
</html>
