html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -130px;
  /* Pad bottom by footer height */
  padding: 0 0 130px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 80px;
}

#item-image {
  height: 60%;
}

.sequence-input {
	flex-grow: 1;
}
.sequence-input input {
  height: 50px;
}

.judgement-button {
  padding-top: 15px;
  height: 80px;
  color: #ecf0f1;
  margin: 0;
}

.center {
  text-align: center;
  margin 0 auto;
}

.token {
  min-width: 50px;
  padding: 3px 20px;
  margin-right: 10px;
  border: 1px solid #2c3e50;
  border-radius: 20px;
  font-size: 1.2em;
  float:left;
  margin-bottom: 5px;
}

.token:hover {
  min-width: 50px;
  padding: 3px 20px;
  margin-right: 10px;
  border: 1px solid #2c3e50;
  border-radius: 20px;
  font-size: 1.2em;
  float:left;
  margin-bottom: 5px;
  background-color: #2c3e50;
  color: #ecf0f1;
  cursor: pointer;
}

.sequence-input .input-group {
  margin-bottom: 0 !important;
  margin-top: 10px;
}

.clear {
  clear: left;
}

#text-classification-text {
  font-size: 1.7em;
}
.flex {
  display:flex;
}
.flex-grow-1 {
  flex-grow: 1;
}
