html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  overflow-y: auto;
  /* Pad bottom by footer height */
  padding: 0 0 100px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 80px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


#item-image {
  height: 60%;
}

.sequence-input {
	flex-grow: 1;
}
.sequence-input input {
  height: 50px;
}

.judgement-button {
  padding-top: 30px;
  height: 100px;
  color: #ecf0f1;
  margin: 0;
  cursor: pointer;
}

.center {
  text-align: center;
  margin: 0 auto;
}

.token {
  min-width: 50px;
  padding: 3px 20px;
  margin-right: 10px;
  border: 1px solid #2c3e50;
  border-radius: 20px;
  font-size: 1.2em;
  float:left;
  margin-bottom: 5px;
}

.token:hover {
  min-width: 50px;
  padding: 3px 20px;
  margin-right: 10px;
  border: 1px solid #2c3e50;
  border-radius: 20px;
  font-size: 1.2em;
  float:left;
  margin-bottom: 5px;
  background-color: #2c3e50;
  color: #ecf0f1;
  cursor: pointer;
}

.sequence-input .input-group {
  margin-bottom: 0 !important;
  margin-top: 10px;
}

.clear {
  clear: left;
}

#text-classification-text {
  font-size: 1.7em;
}
.flex {
  display:flex;
}
.flex-grow-1 {
  flex-grow: 1;
}

.card-dataset {
  margin: 30px;
}

.img-sm {
  height: 250px;
}

#items-loading {
  font-size: 3em;
  margin: 50px;
  color: #aaa;
}

.img-batch-view {
  max-height: 200px;
  width: auto;
  margin: 10px;
  cursor: pointer;

  padding: 5px;
  opacity: 0.60;
}

.img-batch-view-selected {
  max-height: 200px;
  width: auto;
  margin: 10px;
  cursor: pointer;

  padding: 0px;
  opacity: 1.0;
}

.cursor {
  cursor: pointer;
}

.green {
  color: #2ecc71;
}

.sequence-word {
  margin-right: 5px;
  cursor: pointer;
  float: left;
  color: #444;
}

.sequence-word:hover {
  margin-right: 5px;
  cursor: pointer;
  float: left;
  color: #000;
}

.highlighted-search-query {
  background-color: #ffd54f;
}
